<h1 class="is-size-4 mb-3 has-text-grey is-flex is-justify-content-center has-text-weight-bold">Category List</h1>

<div class="container is-flex is-justify-content-center" style="width: 90%;">
  <div class=" container is-flex is-justify-content-end mb-4">
    <%= link_to "New Category", new_group_path, class: "button is-small is-info has-text-weight-bold" %>
  </div>
</div>